USE [master]
GO
/****** Object:  Database [SC_DB]    Script Date: 2021/7/9 21:09:04 ******/
CREATE DATABASE [SC_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SC_DB', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SC_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SC_DB_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SC_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SC_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SC_DB]
GO
/****** Object:  Table [dbo].[login_ur]    Script Date: 2021/7/9 21:09:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_ur](
	[id] [varchar](255) NULL,
	[psw] [varchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
insert into dbo.login_ur VALUES(1,1)
insert into dbo.login_ur VALUES('admin','890123')
insert into dbo.login_ur VALUES('001','001')
GO
